<div class="flex items-center justify-center lg:justify-start">
    <p class="text-primary font-bold px-4 mb-4">
        {{ "purchaseCredit.title" | translate }}
    </p>
</div>
<div
    class="flex flex-col lg:flex-row justify-center lg:justify-start items-center gap-2.5 lg:pl-20 pl-0"
>
    <p>{{ "purchaseCredit.introduceMethod" | translate }}</p>
    <div class="flex flex-row gap-1.5">
        <img
            ngSrc="assets/images/payment-method/momo.svg"
            alt="Logo"
            width="20"
            height="20"
            priority
        />
        <img
            ngSrc="assets/images/payment-method/vnpay.svg"
            alt="Logo"
            width="30"
            height="30"
            priority
        />
        <img
            ngSrc="assets/images/payment-method/napas.svg"
            alt="Logo"
            width="30"
            height="30"
            priority
        />
        <img
            ngSrc="assets/images/payment-method/visa.svg"
            alt="Logo"
            width="30"
            height="30"
            priority
        />
        <img
            ngSrc="assets/images/payment-method/master-card.svg"
            alt="Logo"
            width="30"
            height="30"
            priority
        />
    </div>
</div>
<div
    class="bg-[#F4FCFD] block items-center justify-center my-8 py-24 mx-4 rounded-md border-[#E5E7EB] border"
>
    <div
        class="flex flex-col lg:flex-row items-center justify-stretch text-black"
    >
        <p class="ml-0 lg:ml-20">
            {{ "purchaseCredit.currentBalance" | translate }}
        </p>
        <div
            class="flex flex-col lg:flex-row lg:items-end items-center mr-0 lg:mr-10 gap-2.5"
        >
            <p class="text-5xl font-medium">{{ balance }}</p>
            <span>{{ "payment.history.credit.title" | translate }}</span>
        </div>
    </div>
</div>

<div
    class="bg-[#F4FCFD] block items-center justify-center my-4 mx-4 rounded-md border-[#E5E7EB] border"
>
    <div class="flex flex-col gap-16">
        <div
            class="bg-white rounded-md border-[#E5E7EB] border px-4 py-2 mt-8 mx-6 flex justify-center items-center lg:justify-start"
        >
            <p>{{ "purchaseCredit.selectCreditPackage" | translate }}</p>
        </div>
        <div
            class="flex lg:flex-row flex-col gap-16 items-center justify-center mx-6"
        >
            @for (pkg of creditPackages; track pkg.id) {
                <card-template
                    class="text-center rounded-lg border border-[#e0e0e0] bg-white max-w-40 w-full cursor-pointer transition-all duration-300"
                    [ngClass]="{
                        'border-primary border-2 shadow-lg shadow-primary/20':
                            selectedPackage?.id === pkg.id,
                        'border-[#e0e0e0] hover:border-primary/50 hover:shadow-md':
                            selectedPackage?.id !== pkg.id,
                    }"
                    (click)="selectPackage(pkg)"
                >
                    <!-- Header: Image -->
                    <div header>
                        <img
                            src="assets/images/creditIcon.svg"
                            alt="Coin Icon"
                            class="w-16 mx-auto"
                        />
                    </div>
                    <!-- Body: Credit Value -->
                    <div body class="text-lg font-semibold">
                        {{ pkg.numberOfCredits }}
                        {{ "payment.history.credit.title" | translate }}
                    </div>

                    <!-- Footer: Price -->
                    <div
                        footer
                        class="text-gray-600 text-base font-medium text-center"
                    >
                        {{ pkg.price | number: "1.0-0" }} VND
                    </div>
                </card-template>
            }
        </div>
        <div class="flex items-center justify-center mb-8">
            <p-button
                severity="primary"
                [label]="'payment.history.button.buyCredit' | translate"
                [disabled]="!selectedPackage"
                (onClick)="onBuyCredit()"
            />
        </div>
    </div>
</div>

<div
    class="block items-center justify-center my-8 mx-4 rounded-md border-[#E5E7EB] border"
>
    <p-accordion [value]="0">
        @for (tab of tabs; track tab.title) {
            <p-accordion-panel [value]="tab.value">
                <p-accordion-header class="bg-[#F4FCFD]">{{
                    tab.title | translate
                }}</p-accordion-header>
                <p-accordion-content>
                    <p class="m-0">{{ tab.content | translate }}</p>
                </p-accordion-content>
            </p-accordion-panel>
        }
    </p-accordion>
</div>
