<div class="px-5">
    @if (isEdit) {
        <h1 class="font-bold text-lg">
            {{ "enterprise.buildings.details.edit" | translate }}
        </h1>
    } @else {
        <h1 class="font-bold text-lg">
            {{ "enterprise.buildings.details.create" | translate }}
        </h1>
    }
</div>
<form [formGroup]="formGroup" class="sm:mt-5 p-5">
    <!-- number of credit -->
    <div class="grid grid-cols-12 gap-4 items-center my-3" errorMessages>
        <label
            for="numberOfCredits"
            class="font-normal md:col-span-3 col-span-12"
            >{{ "admin.packageCredit.table.numberCredit" | translate }}</label
        >
        <div class="md:col-span-6 col-span-12">
            <input
                formControlName="numberOfCredits"
                class="w-full"
                type="number"
                id="numberOfCredits"
                pInputText
                [placeholder]="
                    'admin.packageCredit.input.enterNumberCredit' | translate
                "
            />
            <form-field-error></form-field-error>
        </div>
    </div>

    <!-- price -->
    <div class="grid grid-cols-12 gap-4 items-center my-3" errorMessages>
        <label for="price" class="font-normal md:col-span-3 col-span-12">{{
            "admin.packageCredit.table.price" | translate
        }}</label>
        <div class="md:col-span-6 col-span-12">
            <input
                formControlName="price"
                class="w-full"
                type="number"
                id="price"
                pInputText
                [placeholder]="
                    'admin.packageCredit.input.enterPrice' | translate
                "
            />
            <form-field-error></form-field-error>
        </div>
    </div>

    <!-- Buttons -->
    <div class="flex justify-end md:justify-start gap-4 *:min-w-24">
        <!-- Create Button -->
        <p-button
            [label]="(isEdit ? 'common.save' : 'common.create') | translate"
            styleClass="w-full"
            severity="primary"
            [disabled]="disableSubmitButton"
            (onClick)="submit()"
        ></p-button>

        <!-- Revert Button -->
        <p-button
            [label]="'common.revert' | translate"
            styleClass="w-full"
            severity="secondary"
            (onClick)="reset()"
        ></p-button>
    </div>
</form>
