<div class="">
    <p-selectbutton
        [options]="justifyOptions"
        [(ngModel)]="viewMode"
        optionValue="value"
    >
        <ng-template #item let-item>
            <i [class]="item.icon"></i>
        </ng-template>
    </p-selectbutton>
</div>

<div
    [hidden]="listView"
    class="border-black border-2 border-solid"
    style="height: 600px"
>
    <div class="h-full" id="map"></div>
</div>

@if (listView) {
    <card-template>
        <div header>header</div>
        <div body>body</div>
        <div footer>footer</div>
    </card-template>
}
