<!--<div class="flex justify-center flex-wrap gap-4 mb-6">-->
<!--  <p-button label="Primary" [raised]="true"/>-->
<!--  <p-button label="Secondary" [raised]="true" severity="secondary"/>-->
<!--  <p-button label="Success" [raised]="true" severity="success"/>-->
<!--  <p-button label="Info" [raised]="true" severity="info"/>-->
<!--  <p-button label="Warn" [raised]="true" severity="warn"/>-->
<!--  <p-button label="Help" [raised]="true" severity="help"/>-->
<!--  <p-button label="Danger" [raised]="true" severity="danger"/>-->
<!--  <p-button label="Contrast" [raised]="true" severity="contrast"/>-->
<!--</div>-->

<!--<div class="flex justify-center flex-wrap gap-4 mb-6">-->
<!--  <p-button label="Primary" variant="text"/>-->
<!--  <p-button label="Secondary" variant="text" severity="secondary"/>-->
<!--  <p-button label="Success" variant="text" severity="success"/>-->
<!--  <p-button label="Info" variant="text" severity="info"/>-->
<!--  <p-button label="Warn" variant="text" severity="warn"/>-->
<!--  <p-button label="Help" variant="text" severity="help"/>-->
<!--  <p-button label="Danger" variant="text" severity="danger"/>-->
<!--  <p-button label="Plain" variant="text" severity="contrast"/>-->
<!--</div>-->

<!--<div class="flex justify-center flex-wrap gap-4 mb-6">-->
<!--  <p-button label="Primary" variant="text" [raised]="true"/>-->
<!--  <p-button label="Secondary" variant="text" [raised]="true" severity="secondary"/>-->
<!--  <p-button label="Success" variant="text" [raised]="true" severity="success"/>-->
<!--  <p-button label="Info" variant="text" [raised]="true" severity="info"/>-->
<!--  <p-button label="Warn" variant="text" [raised]="true" severity="warn"/>-->
<!--  <p-button label="Help" variant="text" [raised]="true" severity="help"/>-->
<!--  <p-button label="Danger" variant="text" [raised]="true" severity="danger"/>-->
<!--  <p-button label="Plain" variant="text" [raised]="true" severity="contrast"/>-->
<!--</div>-->

<!--<div class="flex justify-center flex-wrap gap-4 mb-6">-->
<!--  <p-button label="Primary" variant="outlined"/>-->
<!--  <p-button label="Secondary" variant="outlined" severity="secondary"/>-->
<!--  <p-button label="Success" variant="outlined" severity="success"/>-->
<!--  <p-button label="Info" variant="outlined" severity="info"/>-->
<!--  <p-button label="Warn" variant="outlined" severity="warn"/>-->
<!--  <p-button label="Help" variant="outlined" severity="help"/>-->
<!--  <p-button label="Danger" variant="outlined" severity="danger"/>-->
<!--  <p-button label="Contrast" variant="outlined" severity="contrast"/>-->
<!--</div>-->

<!--<div class="flex justify-center flex-wrap gap-4 mb-6">-->
<!--  <p-button icon="pi pi-check"/>-->
<!--  <p-button icon="pi pi-bookmark" severity="secondary"/>-->
<!--  <p-button icon="pi pi-search" severity="success"/>-->
<!--  <p-button icon="pi pi-user" severity="info"/>-->
<!--  <p-button icon="pi pi-bell" severity="warn"/>-->
<!--  <p-button icon="pi pi-heart" severity="help"/>-->
<!--  <p-button icon="pi pi-times" severity="danger"/>-->
<!--</div>-->

<!--<div class="flex justify-center flex-wrap gap-4 mb-6">-->
<!--  <p-button icon="pi pi-check" [rounded]="true"/>-->
<!--  <p-button icon="pi pi-bookmark" [rounded]="true" severity="secondary"/>-->
<!--  <p-button icon="pi pi-search" [rounded]="true" severity="success"/>-->
<!--  <p-button icon="pi pi-user" [rounded]="true" severity="info"/>-->
<!--  <p-button icon="pi pi-bell" [rounded]="true" severity="warn"/>-->
<!--  <p-button icon="pi pi-heart" [rounded]="true" severity="help"/>-->
<!--  <p-button icon="pi pi-times" [rounded]="true" severity="danger"/>-->
<!--</div>-->

<!--<div class="flex justify-center flex-wrap gap-4 mb-6">-->
<!--  <p-button icon="pi pi-check" [rounded]="true" [outlined]="true"/>-->
<!--  <p-button icon="pi pi-bookmark" [rounded]="true" severity="secondary" [outlined]="true"/>-->
<!--  <p-button icon="pi pi-search" [rounded]="true" severity="success" [outlined]="true"/>-->
<!--  <p-button icon="pi pi-user" [rounded]="true" severity="info" [outlined]="true"/>-->
<!--  <p-button icon="pi pi-bell" [rounded]="true" severity="warn" [outlined]="true"/>-->
<!--  <p-button icon="pi pi-heart" [rounded]="true" severity="help" [outlined]="true"/>-->
<!--  <p-button icon="pi pi-times" [rounded]="true" severity="danger" [outlined]="true"/>-->
<!--</div>-->

<!--<div class="flex justify-center flex-wrap gap-4 mb-6">-->
<!--  <p-button icon="pi pi-check" [rounded]="true" [text]="true" [raised]="true"/>-->
<!--  <p-button icon="pi pi-bookmark" [rounded]="true" [text]="true" [raised]="true" severity="secondary"/>-->
<!--  <p-button icon="pi pi-search" [rounded]="true" [text]="true" [raised]="true" severity="success"/>-->
<!--  <p-button icon="pi pi-user" [rounded]="true" [text]="true" [raised]="true" severity="info"/>-->
<!--  <p-button icon="pi pi-bell" [rounded]="true" [text]="true" [raised]="true" severity="warn"/>-->
<!--  <p-button icon="pi pi-heart" [rounded]="true" [text]="true" [raised]="true" severity="help"/>-->
<!--  <p-button icon="pi pi-times" [rounded]="true" [text]="true" [raised]="true" severity="danger"/>-->
<!--</div>-->

<!--<div class="flex justify-center flex-wrap gap-4 mb-6">-->
<!--  <p-button icon="pi pi-check" [rounded]="true" [text]="true"/>-->
<!--  <p-button icon="pi pi-bookmark" [rounded]="true" [text]="true" severity="secondary"/>-->
<!--  <p-button icon="pi pi-search" [rounded]="true" [text]="true" severity="success"/>-->
<!--  <p-button icon="pi pi-user" [rounded]="true" [text]="true" severity="info"/>-->
<!--  <p-button icon="pi pi-bell" [rounded]="true" [text]="true" severity="warn"/>-->
<!--  <p-button icon="pi pi-heart" [rounded]="true" [text]="true" severity="help"/>-->
<!--  <p-button icon="pi pi-times" [rounded]="true" [text]="true" severity="danger"/>-->
<!--</div>-->
<card-template>
  <div header>header</div>
  <div body>body</div>
  <div footer>footer</div>
</card-template>
