<div class="flex items-center justify-center min-h-screen">
    <p-card class="shadow-lg rounded-2xl mx-auto w-full max-w-md">
        <ng-template #header>
            <div class="flex justify-center items-center">
                <h2 class="text-xl font-semibold">
                    {{ "admin.ratio.updateRatio" | translate }}
                </h2>
            </div>
        </ng-template>
        <ng-template #title>
            <div class="flex items-center justify-center text-primary-emphasis">
                <p>
                    {{ "admin.ratio.adjustRatio" | translate }}:
                    {{ "admin.ratio.type." + selectedConvertType | translate }}
                </p>
            </div>
        </ng-template>
        <ng-template #subtitle>
            <div class="flex justify-center items-center">
                <div
                    class="pt-6 flex flex-col justify-center items-center gap-2"
                >
                    <form [formGroup]="formGroup" class="sm:mt-5 py-5">
                        <div
                            errorMessages
                            class="flex justify-center items-center flex-col gap-2"
                        >
                            <p-inputnumber
                                formControlName="ratio"
                                [showButtons]="true"
                                [step]="0.1"
                                buttonLayout="horizontal"
                                spinnerMode="horizontal"
                                inputId="horizontal"
                                [minFractionDigits]="1"
                                [maxFractionDigits]="2"
                                [inputStyle]="{ width: '5rem' }"
                            >
                                <ng-template #incrementbuttonicon>
                                    <span class="pi pi-plus"></span>
                                </ng-template>
                                <ng-template #decrementbuttonicon>
                                    <span class="pi pi-minus"></span>
                                </ng-template>
                            </p-inputnumber>
                            <form-field-error></form-field-error>
                        </div>
                    </form>
                </div>
            </div>
        </ng-template>
        <ng-template #footer>
            <div
                class="flex flex-col-reverse lg:flex-row justify-center items-center mt-4 gap-4"
            >
                <p-button
                    label="{{
                        'dialog.subscription.footer.button.cancel' | translate
                    }}"
                    [text]="true"
                    severity="primary"
                    [outlined]="true"
                    (onClick)="return()"
                />
                <p-button
                    label="{{ 'common.save' | translate }}"
                    severity="primary"
                    (onClick)="submit()"
                />
            </div>
        </ng-template>
    </p-card>
</div>
