<div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-4 p-4 justify-center items-center min-h-screen"
>
    @for (ratio of creditConvertRatios; track ratio.id) {
        <p-card class="shadow-lg rounded-2xl">
            <ng-template #header>
                <div
                    class="text-lg font-semibold text-center border border-primary py-6 bg-cyan-100"
                >
                    {{ "admin.ratio.type." + ratio.convertType | translate }}
                </div>
            </ng-template>
            <ng-template #title>
                <div
                    class="flex items-center justify-center text-primary-emphasis"
                >
                    {{ "admin.ratio.title" | translate }}
                </div>
            </ng-template>
            <ng-template #subtitle>
                <div class="flex flex-col items-center space-y-2 mt-2">
                    <div
                        pRipple
                        class="box p-4 rounded-full cursor-pointer"
                        style="
                            border: 1px solid rgba(75, 175, 80, 0.3);
                            --p-ripple-background: rgba(75, 175, 80, 0.3);
                        "
                    >
                        <span class="font-bold">{{ ratio.ratio }}</span>
                    </div>
                </div>
            </ng-template>
            <ng-template #footer>
                <div class="flex items-center justify-center pt-4">
                    <p-button
                        class="*:w-40"
                        severity="primary"
                        [label]="'admin.ratio.button.control' | translate"
                        outlined
                        icon="pi pi-wrench"
                        (onClick)="control(ratio)"
                    />
                </div>
            </ng-template>
        </p-card>
    }
</div>
