<div class="px-5">
    <h1 class="font-bold text-lg">
        {{ "enterprise.Users.create" | translate }}
    </h1>
    <p class="font-light">
        {{ "enterprise.Users.description" | translate }}
    </p>
</div>
<form [formGroup]="formGroup" class="sm:mt-5 p-5">
    <!-- Email -->
    <div class="grid grid-cols-12 gap-4 items-center my-3" errorMessages>
        <label for="email" class="font-normal md:col-span-3 col-span-12">{{
            "enterprise.Users.email" | translate
        }}</label>
        <div class="md:col-span-6 col-span-12">
            <input
                formControlName="email"
                class="w-full"
                type="text"
                id="email"
                pInputText
                [placeholder]="
                    'enterprise.Users.placeholders.enterEmail' | translate
                "
            />
            <form-field-error></form-field-error>
        </div>
    </div>

    <!-- First Name -->
    <div class="grid grid-cols-12 gap-4 items-center my-3" errorMessages>
        <label for="firstName" class="font-normal md:col-span-3 col-span-12">{{
            "enterprise.Users.firstName" | translate
        }}</label>
        <div class="md:col-span-6 col-span-12">
            <input
                formControlName="firstName"
                class="w-full"
                type="text"
                id="firstName"
                pInputText
                [placeholder]="
                    'enterprise.Users.placeholders.enterFirstName' | translate
                "
            />
            <form-field-error></form-field-error>
        </div>
    </div>

    <!-- Last Name -->
    <div class="grid grid-cols-12 gap-4 items-center my-3" errorMessages>
        <label for="lastName" class="font-normal md:col-span-3 col-span-12">{{
            "enterprise.Users.lastName" | translate
        }}</label>
        <div class="md:col-span-6 col-span-12">
            <input
                formControlName="lastName"
                class="w-full"
                type="text"
                id="lastName"
                pInputText
                [placeholder]="
                    'enterprise.Users.placeholders.enterLastName' | translate
                "
            />
            <form-field-error></form-field-error>
        </div>
    </div>

    <!-- Scope -->
    @if (roleEmployee) {
        <h2 class="font-semibold text-xl">
            {{ "enterprise.Users.scope" | translate }}
        </h2>
        <div class="grid grid-cols-12 gap-4 items-center my-3">
            <label class="md:col-span-3 col-span-12"> </label>
            <div
                class="md:col-span-3 col-span-12"
                [ngClass]="scopeBuildings ? 'md:col-span-3' : 'md:col-span-6'"
                errorMessages
            >
                <p-select
                    formControlName="scope"
                    id="scope"
                    optionLabel="label"
                    (onChange)="onScopeChange()"
                    [options]="scopeOptions"
                    [placeholder]="
                        'enterprise.Users.placeholders.selectScope' | translate
                    "
                    optionValue="value"
                    optionDisabled="disabled"
                    class="w-full"
                >
                    <ng-template #selectedItem let-selectedOption>
                        <div>
                            {{ selectedOption.label | translate }}
                        </div></ng-template
                    >
                    <ng-template #item let-item
                        ><div>{{ item.label | translate }}</div></ng-template
                    >
                </p-select>
                <form-field-error></form-field-error>
            </div>
            @if (scopeBuildings) {
                <div class="md:col-span-3 col-span-12 *:w-full" errorMessages>
                    <p-multiselect
                        [options]="selectableBuildings"
                        (onChange)="onBuildingSelect($event)"
                        formControlName="selectedBuildingIds"
                        optionLabel="label"
                        optionValue="value"
                        [placeholder]="
                            'enterprise.Users.placeholders.selectBuildings'
                                | translate
                        "
                        lazy="true"
                    ></p-multiselect>
                    <form-field-error></form-field-error>
                </div>
            }
        </div>
        <!-- Role -->
        <h2 class="font-semibold text-xl">
            {{ "enterprise.Users.role" | translate }}
        </h2>
        <div class="grid grid-cols-12 gap-4 items-center my-3">
            <label class="md:col-span-3 col-span-12"></label>
            @if (scopeBuildings) {
                <div class="md:col-span-6 col-span-12">
                    @if (
                        enterpriseUserStructure.buildingPermissions.controls
                            .length === 0
                    ) {
                        TODO: replace by i18n: PLEASE SELECT BUILDINGS TO ASSIGN
                        ROLE FOR THIS USER
                    } @else {
                        <ng-container formArrayName="buildingPermissions"
                            ><div
                                *ngFor="
                                    let permission of enterpriseUserStructure
                                        .buildingPermissions.controls;
                                    let i = index
                                "
                            >
                                <div
                                    [formGroupName]="i"
                                    class="flex justify-between items-center *:w-full gap-4 mb-4"
                                >
                                    <p>
                                        {{ getBuildingName(permission) }}
                                    </p>

                                    <div class="*:w-full" errorMessages>
                                        <p-select
                                            id="buildingPermissions"
                                            [options]="permissionRoleOptions"
                                            formControlName="role"
                                            optionLabel="label"
                                            optionValue="value"
                                            [placeholder]="
                                                'enterprise.Users.placeholders.selectRole'
                                                    | translate
                                            "
                                        >
                                            <ng-template
                                                #selectedItem
                                                let-selectedOption
                                            >
                                                <div>
                                                    {{
                                                        selectedOption.label
                                                            | translate
                                                    }}
                                                </div></ng-template
                                            >
                                            <ng-template #item let-item
                                                ><div>
                                                    {{ item.label | translate }}
                                                </div></ng-template
                                            >
                                        </p-select>
                                        <form-field-error></form-field-error>
                                    </div>
                                </div></div
                        ></ng-container>
                    }
                </div>
            }
            @if (scopeEnterprise) {
                <div class="md:col-span-6 col-span-12" errorMessages>
                    <p-select
                        formControlName="enterprisePermission"
                        id="enterprisePermission"
                        optionValue="value"
                        optionLabel="label"
                        [options]="buildingPermissionScopeEnterprise"
                        (onChange)="onEnterprisePermissionChange($event)"
                        [placeholder]="
                            'enterprise.Users.placeholders.selectRole'
                                | translate
                        "
                        class="w-full"
                    >
                        <ng-template #selectedItem let-selectedOption>
                            <div>
                                {{ selectedOption.label | translate }}
                            </div></ng-template
                        >
                        <ng-template #item let-item
                            ><div>
                                {{ item.label | translate }}
                            </div></ng-template
                        >
                    </p-select>
                    <form-field-error></form-field-error>
                </div>
            }
        </div>
    }
    <!-- Buttons -->
    <div class="flex justify-end md:justify-start gap-4 *:min-w-24">
        <!-- Create Button -->
        <p-button
            [label]="(isEdit ? 'common.save' : 'common.create') | translate"
            styleClass="w-full"
            severity="primary"
            [disabled]="disableSubmitButton"
            (onClick)="submit()"
        ></p-button>

        <!-- Revert Button -->
        <p-button
            [label]="'common.revert' | translate"
            styleClass="w-full"
            severity="secondary"
            (onClick)="reset()"
        ></p-button>
    </div>
</form>
