server:
  port: 8180
  servlet:
    context-path: /idp

spring:
  security:
    cors:
      allowed:
        origins: http://localhost:4200
    passkeys:
      rpName: GreenBuildings
      rpId: localhost
      allowedOrigins: http://localhost:8180
    oauth2:
      authorizationserver:
        client:
          oidc-client:
            registration:
              client-id: oidc-client
              client-authentication-methods:
                - "none"
              authorization-grant-types:
                - "authorization_code"
              redirect-uris: http://localhost:4200
              post-logout-redirect-uris: http://localhost:4200
              scopes:
                - openid
                - email
                - phone
            require-authorization-consent: false
            require-proof-key: true
            token:
              access-token-time-to-live: PT8H
  mail:
    host: 127.0.0.1
    port: 1025
    username:
    password:
    properties:
      mail.smtp.starttls.enable: true
      mail.smtp.auth: false
  application:
    name: sep490-idp
    homepage: http://localhost:4200
#    TODO : hard code ?
  datasource:
    url: jdbc:postgresql://localhost:5432/sep490_idp?serverTimezone=UTC
    username: postgres
    password: postgres
  flyway:
    output-query-results: true
    create-schemas: false
  jpa:
    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.CamelCaseToUnderscoresNamingStrategy
      ddl-auto: validate
    open-in-view: false
    properties:
      hibernate:
        show_sql: false
        format_sql: false
        query:
          fail_on_pagination_over_collection_fetch: true
  kafka:
    admin:
      fail-fast: true
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
    consumer:
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring:
          json:
            trusted:
              packages: "*"
      auto-offset-reset: latest
      group-id: greenbuildings-idp

logging:
  level:
    root: INFO
    org:
      springframework:
        web: DEBUG
        security: DEBUG
      hibernate:
        SQL: DEBUG
        type:
          descriptor:
            sql: TRACE
