<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <title>Account</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>

<div class="max-w-2xl mx-auto mt-10 p-6 bg-white shadow-md rounded-lg">
    <div class="mb-6 border-b border-gray-200 pb-4">
        <h1 class="text-2xl font-bold text-gray-800">WebAuthN Demo</h1>
    </div>
    <div class="mb-6">
        <p class="text-gray-600 text-sm">Your Account:</p>
        <ul class="mt-2 space-y-1">
            <li class="flex items-center text-gray-800">
                <span class="font-semibold">Email:</span>
                <span class="ml-2" th:text="${email}"></span>
            </li>
        </ul>
    </div>
    <div class="mb-6">
        <h3 class="text-lg font-semibold text-gray-800 mb-3">Existing Passkeys</h3>
        <ul class="space-y-4">
            <li th:each="authenticator: ${authenticators}" class="flex items-center justify-between">
                <span class="text-gray-600" th:text="${authenticator.getCredentialName()}"></span>
                <form action="/passkey/delete" method="POST" class="flex items-center">
                    <input type="hidden" name="credential-id" th:value="${authenticator.getCredentialId()}"/>
                    <button type="submit"
                            class="bg-red-500 hover:bg-red-600 text-white text-sm px-4 py-2 rounded-md shadow-sm">
                        Delete
                    </button>
                </form>
            </li>
        </ul>
    </div>
    <div class="mb-6">
        <h3 class="text-lg font-semibold text-gray-800 mb-3">Register New Passkey</h3>
        <div class="flex items-center space-x-4">
            <input type="text" id="passkey-name" placeholder="Passkey Name"
                   class="w-full px-4 py-2 border rounded-md text-gray-700 focus:outline-none focus:ring focus:ring-indigo-200">
            <button id="register-webauthn"
                    class="bg-indigo-500 hover:bg-indigo-600 text-white text-sm px-4 py-2 rounded-md shadow-sm">
                Register
            </button>
        </div>
    </div>
    <div>
        <h3 class="text-lg font-semibold text-gray-800 mb-3">Logout</h3>
        <form th:action="@{/logout}" method="post">
            <button type="submit"
                    class="inline-block bg-gray-100 hover:bg-gray-200 text-gray-700 text-sm px-4 py-2 rounded-md shadow-sm">
                Logout
            </button>
        </form>
    </div>
</div>

</body>
<script th:inline="javascript">
    async function registerPasskey() {

        var challenge = /*[[${challenge}]]*/ 'default-challenge';

        const publicKeyCredentialCreationOptions = {
            challenge: Uint8Array.from(challenge, c => c.charCodeAt(0)),
            rp: {
                name: "SEP490 IDP",
            },
            user: {
                id: Uint8Array.from([[${userId}]], c => c.charCodeAt(0)),
                name: [[${email}]],
                displayName: [[${email}]]
            },
            pubKeyCredParams: [{alg: -7, type: "public-key"}],
            timeout: 300000, // 5 minutes
            attestation: "direct",
            authenticatorSelection: {
                requireResidentKey: false,
                userVerification: "preferred"
            },
        };
        const passkeyField = document.getElementById("passkey-name")
        const passkeyName = passkeyField.value.trim();
        if (!passkeyName) {
            alert("Passkey name is required");
            return;
        }
        passkeyField.value = ""

        const credentials = await navigator.credentials.create({
            publicKey: publicKeyCredentialCreationOptions
        });
        const csrfToken = document.querySelector('meta[name="_csrf"]').content;
        const csrfHeader = document.querySelector('meta[name="_csrf_header"]').content;

        fetch("/passkey/register",
            {
                method: 'POST',
                body: JSON.stringify({name: passkeyName, credentials: credentials}),
                credentials: "same-origin",
                headers: {
                    "Content-Type": "application/json;charset=utf-8",
                    [csrfHeader]: csrfToken,
                },
                redirect: "follow",
            })
            .then(r => {
                document.location.href = r.url
            })
            .catch(err => console.error(err))
            .finally(() => console.log("yep, done"));
    }


    document.getElementById("register-webauthn").addEventListener("click", async () => {
        await registerPasskey()
    })

    document.getElementById("passkey-name").addEventListener("keypress", async e => {
        if (e.key === 'Enter') {
            await registerPasskey()
        }
    })
</script>
</html>