<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" class="h-full bg-white">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{resetPassword.title}">Reset Password</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
<div class="flex items-center justify-center min-h-screen px-4 lg:bg-[url('/img/background.jpg')] lg:bg-no-repeat lg:bg-cover">
    <div class="flex flex-col items-center w-full max-w-5xl">
        <!-- Reset Password Form Section -->
        <div class="bg-white lg:bg-opacity-80 p-6 rounded-xl w-full lg:w-1/2">
            <h2 class="text-center text-primary lg:text-5xl text-2xl font-black font-inter mb-6" th:text="#{resetPassword.title}">Reset Password</h2>
            <form id="reset-password-form" th:object="${resetPasswordDTO}" role="form" th:action="@{/forgot-reset-password}" method="post">
                <div class="mb-4 flex flex-col items-center justify-center">
                    <label for="password" class="max-w-[400px] w-full block font-normal mb-2" th:text="#{resetPassword.label.password}">New Password</label>
                    <input type="password" required
                            class="max-w-[400px] w-full mt-1 p-2 border border-current rounded focus:ring focus:ring-primary focus:outline-none"
                            id="password" name="password" th:field="*{password}" placeholder="New Password">
                    <p th:if="${#fields.hasErrors('password')}" class="max-w-[400px] w-full text-red-500 text-sm mt-1" th:errors="*{password}"></p>
                    <input type="password" required
                           class="max-w-[400px] w-full mt-4 p-2 border border-current rounded focus:ring focus:ring-primary focus:outline-none"
                           id="confirmPassword" name="confirmPassword" th:field="*{confirmPassword}" placeholder="Confirm new password">
                    <p th:if="${#fields.hasErrors('confirmPassword')}" class="max-w-[400px] w-full text-red-500 text-sm mt-1" th:errors="*{confirmPassword}"></p>
                    <div th:if="${errorMessage}" class="max-w-[400px] w-full bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative my-4">
                        <span th:text="${errorMessage}"></span>
                    </div>
                    <div class="flex lg:flex-row flex-col-reverse items-center max-w-[400px] w-full justify-between mt-4">
                        <a th:href="@{/forgot-password}" class="mt-4 text-center text-primary border border-primary py-2 px-4 rounded lg:max-w-[185px] w-full" th:text="#{resetPassword.btn.backToForgotPassword}">
                        </a>
                        <button type="submit"
                                class="mt-4 w-full lg:max-w-[185px] bg-primary text-white py-2 px-4 rounded hover:bg-primary-dark focus:ring focus:ring-primary focus:outline-none"
                                th:text="#{resetPassword.btn.submit}">
                        </button>
                    </div>
                </div>
            </form>
            <div class="text-center mt-3">
                <a th:href="@{''(lang=en)}" class="text-primary hover:underline" th:text="#{language.english}">English</a> |
                <a th:href="@{''(lang=vi)}" class="text-primary hover:underline" th:text="#{language.vietnamese}">Vietnamese</a> |
                <a th:href="@{''(lang=zh)}" class="text-primary font-inter hover:underline" th:text="#{language.chinese}">Chinese</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
