<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" class="h-full bg-white">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <title th:text="#{login.title}"></title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
<div class="flex items-center justify-center min-h-screen px-4">
    <div class="flex flex-col lg:flex-row items-center w-full max-w-5xl">
        <!-- Login Form Section -->
        <div class="bg-white p-6 rounded w-full lg:w-1/2">
            <h2 class="text-center text-green-500 text-2xl font-bold mb-6 uppercase" th:text="#{login.title}"></h2>
            <form id="form" role="form" th:action="@{/login}" method="post" th:object="${loginDTO}">
                <div class="mb-4">
                    <label for="email" class="block text-gray-500 font-medium" th:text="#{login.label.usernameOrEmail}"></label>
                    <input type="email" required
                           class="w-full mt-1 p-2 border border-gray-300 rounded focus:ring focus:ring-green-200 focus:outline-none"
                           id="email" name="email" th:field="*{email}">
                </div>
                <div class="mb-4">
                    <label for="password" class="block text-gray-500 font-medium" th:text="#{login.label.password}"></label>
                    <input type="password"
                           class="w-full mt-1 p-2 border border-gray-300 rounded focus:ring focus:ring-green-200 focus:outline-none"
                           id="password" name="password" th:field="*{password}" required>
                </div>
                <div class="flex justify-end items-center mb-4">
                    <a th:href="@{/forgot-password}" class="text-green-500 hover:underline" th:text="#{login.btn.forgotPassword}"></a>
                </div>
                <div th:if="${message}" class="bg-lime-200 border-l-4 border-l-emerald-500 text-l-emerald-700 p-4 rounded shadow-md mb-4 flex items-center space-x-4">
                    <span th:text="${message}"></span>
                </div>
                <div>
                    <button type="submit"
                            class="w-full bg-green-500 text-white py-2 px-4 rounded hover:bg-green-600 focus:ring focus:ring-green-200 focus:outline-none"
                            th:text="#{login.btn.login}">
                        Log in
                    </button>
                    <div th:if="${errorKey}" class="mb-4 text-red-500 text-center">
                        <span th:text="#{${errorKey}}"></span>
                    </div>
                </div>
                <div class="text-center mt-4">
                    <button type="button" id="sign-in-by-passkey" class="text-green-500 hover:underline" th:text="#{login.btn.signInByPasskey}"></button>
                </div>
            </form>
            <div class="text-center mt-3">
                <p class="text-gray-700">
                    <span th:text="#{login.label.newUser}">Don't have an account?</span>
                    <a th:href="@{/signup}" class="text-green-500 hover:underline" th:text="#{login.btn.register}"></a>
                </p>
            </div>
            <div class="text-center mt-3">
                <a th:href="@{''(lang=en)}" class="text-green-500 hover:underline" th:text="#{language.english}">English</a> |
                <a th:href="@{''(lang=vi)}" class="text-green-500 hover:underline" th:text="#{language.vietnamese}">Vietnamese</a>
            </div>
        </div>

        <!-- Login Image Section -->
        <div class="hidden lg:flex lg:w-1/2 justify-center items-center">
            <img th:src="@{/img/logo.svg}" alt="City Globe" class="max-w-full h-auto">
        </div>
    </div>
</div>
<script th:inline="javascript">
    var challenge = /*[[${challenge}]]*/ 'default-challenge';
    const credentialsRequestOptions = {
        publicKey: {
            challenge: Uint8Array.from(challenge, c => c.charCodeAt(0)),
        }
    };

    const csrfToken = document.querySelector('meta[name="_csrf"]').content;
    const csrfHeader = document.querySelector('meta[name="_csrf_header"]').content;

    document.getElementById("sign-in-by-passkey").addEventListener("click", async () => {
        const credentialsResponse = await navigator.credentials.get(credentialsRequestOptions);
        fetch("/passkey/login",
            {
                method: "POST",
                body: JSON.stringify(credentialsResponse),
                credentials: "same-origin",
                headers: {
                    "Content-Type": "application/json;charset=utf-8",
                    [csrfHeader]: csrfToken
                },
                redirect: "follow"
            })
            .then(r => document.location.href = r.url)
            .catch(err => console.error(err))
            .finally(() => console.log("yep, done"));
    });
</script>
</body>
</html>
